*,*:after,*:before{
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	-ms-box-sizing: border-box;
	box-sizing: border-box;
}
body{
	font-family: arial;
	font-size: 16px;
	margin: 0;
	background: #072e4c;
	color: #000;
	
	display: flex;
	min-height: 100vh;
	align-items: center;
}

.age-calculate{
	max-width: 600px;
	width: 100%;
	height:500px;
	color: #fff;
	margin: 0 auto;
	text-align: center;
	padding: 40px 20px;
	border-radius: 30px;
	background: linear-gradient(to bottom, #007193 50%, #06024e);
}
.age-calculate img{
	border-radius: 40px;
	width:150px;
	height:140px;
	box-shadow: 5px 4px 5px lightgrey;
}
h1{
	margin: 10px 0 20px;
	text-transform: uppercase;
	letter-spacing: 2px;
	font-size: 36px;
	margin-bottom: 20px;
	margin-bottom: 40px;
}
.age-calculate input[type="date"]{
	width: 60%;
	display: block;
	margin: 0 auto 20px;
	font-size: 20px;
	padding: 10px;
	border-radius: 10px;
	border:0;
}
.age-calculate button{
	width: 60%;
  display: block;
  margin: 0 auto 30px;
  font-size: 16px;
  padding: 13px;
  border-radius: 10px;
  border: 0;
  background:rgb(37, 173, 207);
  color:white;
  text-transform: uppercase;
  font-weight: 700;
  cursor: pointer;
}
.age-calculate button:hover{
	width: 60%;
  display: block;
  margin: 0 auto 30px;
  font-size: 16px;
  padding: 13px;
  border-radius: 10px;
  border: 0;
  background:black;
  color:white;
  text-transform: uppercase;
  font-weight: 700;
  cursor: pointer;
}
#calculateAge{
	font-size: 24px;
}